ftfy
imageio
ipywidgets
regex
tqdm
googletrans==3.1.0a0
# torch~=1.7.1
# torchvision~=0.8.2
opencv-python
sentence_transformers
lpips
flask
gunicorn

# https://medium.com/techfront/step-by-step-visual-guide-on-deploying-a-flask-application-on-aws-ec2-8e3e8b82c4f7
# start gunicorn: gunicorn -b 0.0.0.0:8000 app:app